.notification {
  position: absolute;
  top: 14%;
  right: 11%;

  display: flex;
  width: 1.899vw;
  height: 1.899vw;

  @include center-flex();

  font-size: 1vw;
  font-weight: 700;

  color: $white-color;
  border-radius: 50%;

  &_warning {
    background: $primary-accent-color;
  }

  &_mute {
    background: #adadad;
  }
}
